<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
</head>

<style>
    .ls{
     margin: 70px;
         margin-left: 300px;
 
    }
     .table {
         width: 50%;
         border-collapse: collapse;
         margin:-54px;
         margin-left: 341px;
         
     }
 
     .table th, .table td {
         padding: 8px;
         text-align: left;
         border-bottom: 1px solid #ddd;
     }
 
     .table th {
         background-color: #f2f2f2;
         font-weight: bold;
     }
 
     .table tbody tr:hover {
         background-color: #f5f5f5;
     }
 </style>


<body>
    <h1>admin Home</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createDepartmentModal">Create department</button>
    <button type = "button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">Create Users</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTicketModal">Add Ticket</button>
    <button type="button" class="btn btn-primary" id="manageDepartmentButton">Manage Department</button>
    <button type="button" class = "btn btn-secondary" id="adminlogout">Logout</button>

    <div class="modal fade" id="createDepartmentModal" tabindex="-1" aria-labelledby="createDepartmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createDepartmentModalLabel">Create Department</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="departmentForm">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="nameInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Description</label>
                            <input type="text" class="form-control" id="descriptionInput" required>
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModal">Create User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createUserForm">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name1Input" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Email</label>
                            <input type="text" class="form-control" id="emailInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Phone_Number</label>
                            <input type="number" class="form-control" id="phoneInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Password</label>
                            <input type="password" class="form-control" id="passwordInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Role</label>
                            <input type="text" class="form-control" id="roleInput" required>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3">
                                <select class="select form-control-lg" id="departmentInput" name="Roles">
                                    <!-- options will be dynamically populated here -->
                                </select>
                                <label class="form-label select-label">Choose Department</label>
                            </div>
                            
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="createTicketModal" tabindex="-1" aria-labelledby="createDepartmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createDepartmentModalLabel">Add Ticket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="ticketForm">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subjectInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Priority</label>
                            <input type="text" class="form-control" id="priorityInput" required>
                        </div>
                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Body</label>
                            <input type="text" class="form-control" id="bodyInput" required>
                        </div>

                        <div class="mb-3">
                            <label for="descriptionInput" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email1Input" required>
                        </div>
                        
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h5 class="ls">List of tickets</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Ticket id</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Priority</th>
                
                
            </tr>
        </thead>
        <tbody id="ticketTableBody">
            <!-- Table rows will be dynamically populated here -->
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    const DepartmentForm = async(event)=>{
        event.preventDefault()
        const Name = document.getElementById('nameInput').value;
        const Description = document.getElementById('descriptionInput').value;
        const created_by  = localStorage.getItem('admin_email');

        try {
            const response = await axios.post('http://127.0.0.1:8000/Admin/create_department', {
              Name,
              Description,
              created_by,
            });
            console.log('response', response.data);
            // Handle success scenario

            const modal = document.getElementById('createDepartmentModal');
            const bootstrapModal = bootstrap.Modal.getInstance(modal);
            bootstrapModal.hide();
          } catch (error) {
            console.error(error);
            // Handle error scenario
          }
        
    };
    document.getElementById('departmentForm').addEventListener('submit', DepartmentForm);


    </script>

    <script>
     const UserForm = async(event) =>{
        event.preventDefault()
        const Name = document.getElementById('name1Input').value;
        const Email = document.getElementById('emailInput').value;
        const role  = document.getElementById('roleInput').value;
        const password = document.getElementById('passwordInput').value;
        const departmentId = document.getElementById('departmentInput').value;
        const created_by  = localStorage.getItem('admin_email');
        const phone_number = document.getElementById('phoneInput').value;

        const user = {
            Name,
            Email,
            role,
            password,
            phone_number,
            created_by,
            department: departmentId,
        };
        try {
            // Send the user data to the server
            const response = await axios.post('http://127.0.0.1:8000/Admin/create_user', user);
            console.log('response', response.data);
            // Handle success scenario
            
    
            const modal = document.getElementById('createUserModal');
            const bootstrapModal = bootstrap.Modal.getInstance(modal);
            bootstrapModal.hide();
            alert("User created Successfully")
        } catch (error) {
            console.error(error);
            // Handle error scenario
        }

     };
     document.getElementById('createUserForm').addEventListener('submit', UserForm);

     const populateDepartments = async () => {
        try {
            const response = await axios.get('http://127.0.0.1:8000/Admin/departments');
            const departments = response.data;
    
            // Get the department select element
            const departmentSelect = document.getElementById('departmentInput');
    
            // Clear existing options
            departmentSelect.innerHTML = '';
    
            // Create and append new options for each department
            departments.forEach((department) => {
                const option = document.createElement('option');
                option.value = department.id;
                option.text = department.Name;
                departmentSelect.appendChild(option);
            });
        } catch (error) {
            console.error(error);
            // Handle error scenario
        }
    };
    
    populateDepartments();

    
    const emailInput = document.getElementById('email1Input');
    const adminEmail = localStorage.getItem('admin_email');
    emailInput.value = adminEmail;
    console.log('emmm',emailInput.value)
    const add_ticket = async(event)=>{
        event.preventDefault()
        Subject = document.getElementById('subjectInput').value;
        Body = document.getElementById('bodyInput').value;
        Priority = document.getElementById('priorityInput').value;
        Email = document.getElementById('email1Input').value;
        
        
        
        try {
            const response = await axios.post('http://127.0.0.1:8000/Users/add_ticket', {
              Subject,
              Body,
              Priority,
              Email,
             
            });
            console.log('response', response.data);
            // Handle success scenario
            alert(JSON.stringify(response.data.Message));
      
            const modal = document.getElementById('createTicketModal');
            const bootstrapModal = bootstrap.Modal.getInstance(modal);
            bootstrapModal.hide();
          } catch (error) {
            console.error(error);
            // Handle error scenario
          }

    };
    document.getElementById('ticketForm').addEventListener('submit', add_ticket);


    const populateTicketsTable = async () => {
        try {
            const response = await axios.get('http://127.0.0.1:8000/Admin/get_all_tickets');
            const tickets = response.data;

            const ticketTableBody = document.getElementById('ticketTableBody');

            // Clear existing table rows
            ticketTableBody.innerHTML = '';

            // Create and append new table rows for each ticket
            
            tickets.forEach((ticket) => {
                const row = document.createElement('tr');
                
                const idCell = document.createElement('td')
                idCell.textContent = ticket.id;
                row.appendChild(idCell)


                const subjectCell = document.createElement('td');
                subjectCell.textContent = ticket.Subject;
                row.appendChild(subjectCell);

                const bodyCell = document.createElement('td');
                bodyCell.textContent = ticket.Body;
                row.appendChild(bodyCell);

                const priorityCell = document.createElement('td');
                priorityCell.textContent = ticket.Priority;
                row.appendChild(priorityCell);

                

                
           

                ticketTableBody.appendChild(row);
            });
        } catch (error) {
            console.error(error);
            // Handle error scenario
        }
    };

    populateTicketsTable();

  
    const manageDepartmentButton = document.getElementById('manageDepartmentButton');

    manageDepartmentButton.addEventListener('click', () => {
        window.location.href = 'admin_departments.html';
    });

    const adminlogout = document.getElementById('adminlogout');
    if (adminlogout) {
        adminlogout.addEventListener('click', function() {
            // Clear local storage
            localStorage.removeItem('admin_email');
            // Redirect to login page
            window.location.href = 'admin_login.html';
        });
    } else {
        console.error("Element with ID 'logoutButton' not found.");
    }


    </script>



</body>

</html>